KAFKA_BOOTSTRAP_SERVERS=localhost:9094
REDIS_HOST=localhost
REDIS_PORT=6379

TRANSACTIONS_TOPIC=transactions
FRAUD_ALERTS_TOPIC=fraud-alerts

FRAUD_AMOUNT_THRESHOLD=5000
LOCATION_MAX_DISTANCE_KM=800
REPEAT_WINDOW_SECONDS=60
REPEAT_TXN_COUNT_THRESHOLD=4
