__pycache__/
*.pyc
*.pyo
*.pyd
.env
app/.venv/
.pytest_cache/

# frontend (React + Vite)
frontend/node_modules/
frontend/dist/

# sse_stream
sse_stream/HELP.md
sse_stream/.gradle/
sse_stream/build/
sse_stream/.vscode/
!sse_stream/gradle/wrapper/gradle-wrapper.jar
!sse_stream/**/src/main/**/build/
!sse_stream/**/src/test/**/build/

# cluster_controller
cluster_controller/HELP.md
cluster_controller/.gradle/
cluster_controller/build/
cluster_controller/.vscode/
!cluster_controller/gradle/wrapper/gradle-wrapper.jar
!cluster_controller/**/src/main/**/build/
!cluster_controller/**/src/test/**/build/

# api_gateway
api_gateway/HELP.md
api_gateway/.gradle/
api_gateway/build/
api_gateway/.vscode/
!api_gateway/gradle/wrapper/gradle-wrapper.jar
!api_gateway/**/src/main/**/build/
!api_gateway/**/src/test/**/build/

# IDE and Project specific
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
