# Linux start script should use lf
dashboard_api/gradlew        text eol=lf
cluster_controller/gradlew   text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

# Binary files should be left untouched
*.jar           binary
